@import url(../Cesium/Build/Cesium/Widgets/widgets.css);

h4 {
  margin: 0 !important;
  display: inline;
}

h5 {
  margin-top: 20px;
  font-weight: 300;
}

/* Materialize overwrite */

.card-image {
  max-height: 200px !important;
  overflow: hidden;
}

.card-image > .card-title {
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
  margin-bottom: -15px !important;
}

.card-title {
  font-size: 40px !important;
  margin-bottom: 20px !important;
}

.card-content {
  color: #444444 !important;
}

.card-content > hr {
  height: 1px;
  margin: 20px 0;
}

.carousel-slider {
  min-height: 300px !important;
  border-radius: 3px;
  margin-top: 10px;
}

.collection-item.avatar {
  min-height: 64px !important;
}

span.title {
  font-weight: 300;
}

nav {
  background: #F55448;
}


/* Custom Styles */

.right {
  float: right
}

.fullpage {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 !important
}

.cats {
  margin: 14px 10px 0 0 !important;
  background: transparent !important;
  border: 2px solid white;
  padding-top: -5px !important;
}

#map {
  height: 100vh;
  padding: 0 !important;
  position: relative;
}

#info {
  height: 100vh;
  padding: 0px !important;
  overflow: scroll;
  position: relative;
  box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.35);
}
.nav-wrapper > *{
  overflow: visible !important;
}

#cesiumContainer {
  height: 100%;
}

#googlemap {
  display: none;
  height: 100%;
}

.header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}

/* pagination and section styles */

#fifty, #fourteen, #sevensummits {
  display: none;
  margin: 10px;
}

/* Mountain card styles */

.summit-time {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 20px;
}

.summit-time > i {
  font-size: 30px;
}

.summit-time > p {
  color: gray !important;
  margin: 0 !important;
}

.summitted {
  color: red !important;
}

/* 50 States styles */

.exp-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 3px;
}

.exp-img > img {
  width: 100%;
  height: auto;
}

div.collapsible-body > span > strong {
  color: #F55448;
}

/* 14 in 14 styles */

.donate {
  margin-top: 20px;
  border: 1px solid lightgray;
  padding: 40px 20px;
  border-radius: 3px;
}

.press-release {
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  padding: 10px 0;
  margin-top: 20px;
  justify-content: center;
}
