@import url('https://fonts.googleapis.com/css?family=Cabin:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/* HTML overwrite */

* {
  color: #444444;
}

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

hr {
  outline: none;
  border: none;
  height: 1px;
  background: #EAE6E5;
  margin: 40px 0;
}

#nav-logo {
  height: 60px;
  margin-left: 10px;
  margin-top: 5px;
}

.sub {
  color: #746D64 !important;
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

.white {
  color: white !important;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex > * {
  flex-basis: 50%;
}

/* materialize overwrite*/

.card-content > p {
  color: gray !important;
  font-family: 'Cabin', sans-serif !important;
  font-weight: 400 !important;
}

div.carousel {
  height: 300px;
}

a.carousel-item.active {
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.5);
}

.navbar-fixed {
  z-index: 1000 !important;
}

.side-nav {
  z-index: 1000 !important;
}

/* ============== Custom Styles ============== */

/* Button Styles */

.innav {
  background: transparent;
  border: 2px solid white;
  box-shadow: none;
}
.innav:hover {
  background: white;
  color: black;
}

.basic-dark {
  background: #F55448;
}
.basic-dark:hover {
  background: #E45448;
}

/* Mobile Nav Styles */

#fixed-footer {
  position: fixed;
  display: none;
  bottom: 100px;
  left: 100px;
  height: 80px;
  width: 480px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  overflow-y: visible;
  border-top: 3px solid #F55448;
  border-bottom: 3px solid #F55448;
  /* border-right: 3px solid #F55448; */
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 0 20px;
}

#fixed-footer > div {
  position: absolute;
  width: 100px;
  height: 260px;
  border-radius: 50px;
  bottom: -90px;
  left: -100px;
  border-right: 3px solid #F55448;
  box-shadow: 3px 0px 4px 0 rgba(0, 0, 0, 0.2);
}

.white-circle {
  width: 50px;
  height: 50px !important;
  border-radius: 50%;
  background: white;
  margin-top: 6px !important;
  transition: 0.2s;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.white-circle:hover {
  transform: scale(1.05);
}

.white-circle > i {
  font-size: 30px !important;
  line-height: 50px !important;
  margin-left: 10px;
}

#main-nav {
  background-color: rgba(0, 0, 0, .5);
  border-top: 5px solid #D84343;
  height: 80px !important;
}

.full-page {
  height: 100vh;
  width: 100vw;
  display: inline-flex;
}
.full-page > div {
  text-align: center;
  margin: auto;
}

.full-width {
  width: 100%;
  height: auto;
}

.white {
  color: white !important;
}

.t-shadow {
  text-shadow:
}

.p-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.c-center {
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.logo-badge {
  width: 75px;
  height: auto;
  margin-left: 20px;
}

.talldiv {
  height: 1000px;
}

.down-button {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px 0 0 6.5px;
  cursor: pointer;
  transition: .2s;
}

.down-button:hover {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

/* Parallax adjustments */

.parallax-container > div:first-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.plx-centered {
  margin: auto;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
}

.plx-right {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 15px;
  right: 20px;
  /* align-self: flex-end; */
}

.plx-right > div > h1.plx-subheader {
  text-align: right;
  color: #EAE8E6;
}

.plx-right > div > h1.plx-header {
  text-align: right;
  font-size: 40px;
}

.plx-right > div > div > img {
  /* flex-basis: 100%; */
  height: 50px;
  /* width: 150px; */
}

h1.plx-header {
  margin: 0 0 5px 0;
  text-shadow: -2px 5px 10px rgba(0, 0, 0, 0.45);
  color: white;
}
h1.plx-subheader {
  margin: 0;
  font-size: 1.64rem;
  text-shadow: -2px 5px 10px rgba(0, 0, 0, 0.45);
  color: white;
}

/* Profile Section */

.matt-profile {
  height: auto;
  position: relative;
  background: white;
  box-sizing: border-box;
  padding: 50px 0;
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 10
}

img.profile-pic {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

/* Summits section */

#summits {
  height: auto;
  display: none;
  width: 100%;
  background-image: url('../assets/topo.png');
  padding: 30px 0;
}

/* Other efforts */

.morethan {
  height: auto;
  padding: 50px 0;
}

span.card-title > img {
  width: 100px;
}

/* Sponsors Sections */

.sponsors {
  padding: 50px 0 0 0;
  background: #444444;
  color: white !important;
  box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.65);
  border-top: 10px solid #666666;
  border-bottom: 10px solid #666666;
}

.sponsors-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px !important;
}

.sponsors-card > a > img {
  width: 100%;
  align-self: center;
  transition: 0.2s
}

.sponsors-card > a > img:hover {
  transform: scale(1.05);
}

/* Team Section */

.team {
  padding: 50px 0;
}

.footer {
  background: #212121;
  padding: 30px 0;
}

.footer * {
  color: #4C4C4C;
}

.profile_icon {
  font-size: 55px !important;
  color: #242424 !important;
  margin-top: -5px;
  transition: 0.5s;
  line-height: 55px !important;
  padding: 10px;
}

.profile_icon:hover {
  color: white !important;
  /* animation-name: flick !important;
  animation-duration: .2s; */
  background-color: #242424;
  border-radius: 50%;
}

@keyframes flick {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(20deg); }
}

/* Everest 2018 Styles */

.everest2018 {
  background-color: white;
  padding: 50px 0;
}

.study-container {
  height: 300px;
  padding: 0 20px 0 20px;
  /* border: 1px solid gray; */
}

.study-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

/* Social Media Styles */

.fixed-right {
  position: fixed;
  height: 100vh;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-left: 20px;
  z-index: 110;
  left: -80px;
}

.icon-container {
  background: rgba(255, 255, 255, 0.8);
  height: 60px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  border-radius: 50% 50% 50% 50%;
  margin: 10px 0 10px 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.icon-container > a {
  margin-top: 5px;
}

.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.2s;
  margin: auto;
}

.social-icon:hover {
  transform: scale(1.5);
}

.social-container {
  margin-top: 30px;
  min-height: 500px;
}

#social-content {
  position: fixed;
  z-index: 100;
  left: -510px;
  background: white;
  width: 500px;
  height: 100vh;
  padding-top: 70px;
  overflow-y: scroll;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.4);
}

#instagram-embed, #twitter-embed, #facebook-embed {
  display: none;
}

#facebook-embed > div {
  position: relative;
  bottom: 0px;
}

#tracking {
  margin-top: -px;
  display: none;
}

#tracking > iframe {
  width: 100%;
  height: 800px;
  position: relative
}

#tracking > div {
  width: 100%;
  height: 60px;
  background: white;
  position: absolute;
  z-index: 50
}

.annoucement {
  height: 150px;
}

.annoucement > div {
  margin-left: 180px;
  margin-top: -25px;
}

.badge {
  position: absolute;
  margin-top: -75px;
  margin-left: -30px;
  width: 200px;
  transition: 0.2s;
}
.badge:hover {
  transform: scale(1.02);
}

.everestsummits > * {
  display: inline;
}

.everestsummits > i {
  font-size: 25px;
  line-height: 20px;
  vertical-align: bottom;
}

video.summit {
  border-radius: 3px;
  width: 100%;
}
