html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background: url('../assets/luca-bravo\.jpg') center center;
  background-size: cover;
  height: 100%;
}

.collection {
  border: none !important;
}

#notablepeaks > li {
  opacity: 0;
}

li.collection-item {
  background-color: rgba(255, 255, 255, 0.9) !important;
  margin: 5px !important;
  border-radius: 3px;
  /*transition: 0.2s;*/
}
li.collection-item:hover {
  background-color: white !important;
}

.main-body {
  background: #444444;
}

.top-profile {
  margin-top: 50px;
  display: flex
}

.img-container {
  min-width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 3px;
}

.img-container > img {
  height: 100%;
  width: auto;
}

.text-container {
  flex-grow: 1;
  height: 250px;
  margin-left: 20px;
  padding: 0px;
}
