h5 {
  margin: 50px 0 10px 5px;
  padding-bottom: 10px;
  width: calc(100% - 10px);
  border-bottom: 1px solid #444444;
}
h5.normal {
  margin: 20px 0 10px 0;
  padding: 0;
  border: none;
  width: auto;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.galleryimg {
  width: calc(25% - 10px);
  min-width: 200px;
  max-height: 250px;
  min-height: 250px;
  overflow: hidden;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.4);
}

.smaller {
  width: calc(50% - 10px)
}

.galleryimg > img {
  width: 200%;
  margin-left: -50%;
  margin-top: -10%;
  height: auto;
}

.video-container {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 50px;
}

div.card {
  min-height: 550px;
}

.card-content > video {
  width: 100%;
  height: auto;
}

img.logo {
  margin-top: 20px;
  height: 100px;
}
